<br>
<br>
<br>
<form action="/home/modify2/<%= @reply.id %>" type="POST">
                            <textarea type="text" name="reply" style="height: 50px; width: 100%;"><%= @reply.comment %></textarea>
                            <div style="text-align:right">
                                <input type="submit" value="수정하기"><br>
                            </div> 
                        </form>